/*Fonts*/
@font-face {
    font-family: 'capture_itregular';
    src: url('Capture_it-webfont.eot');
    src: url('Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('Capture_it-webfont.woff') format('woff'),
         url('Capture_it-webfont.ttf') format('truetype'),
         url('Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('kaushanscript-regular-webfont.woff2') format('woff2'),
         url('kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Base Styles*/
body{
	margin: 0;
	padding: 0;
	color: white;
	background: #8b834d; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(left, #8b834d, #87690e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #8b834d, #87690e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #8b834d, #87690e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #8b834d , #87690e); /* Standard syntax (must be last) */
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva,sans-serif;
	}
						
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
	}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { display:none; } /* h6 is hidden */

body h1,h2,h3 { 
	padding-top:.5em; 
	font-family:'kaushan_scriptregular';	
	}

p	{
	margin: 0 0 1.5em;
	line-height: 1.5;
	}

hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #ddd;
	}

th, td	{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
	}

						
a:link { color: #FE9920; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: #0d4697; }
a:active { color: red; }
			
header    {
	color: #fff;
	padding: .5em .75em;
	background: #56a3a6; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(left, #173F79, #87690e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #173F79, #87690e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #173F79, #87690e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #173F79 , #87690e); /* Standard syntax (must be last) */
	}

/* Main id elements*/

#play-guidelines {
	padding-top:1em;
}

#map {
	width:400px; /* Google Map, needs to be exactly 400px x 400px to function*/ 
	height:400px;
	background:yellow;
	}

#copyright   {
	background-color:#173f79;
	clear:both;
	color:white;
	text-align:center;
	font-size: 0.7em;
	padding:  .1em .5em;
	box-shadow: -5px 5px 5px #666;
	}
	
#footerlinks   {
	background-color:#173f79;
	clear:both;
	color:white;
	text-align:center;
	font-size: 0.7em;
	padding: .5em .5em;
	}	
	
#footerlinks a  {
	padding:  .5em .5em;
	color: white;
	text-decoration: none;
	}
						
#footerlinks a:link { color: white; }
#footerlinks a:visited { color: #c0d8e0; }
#footerlinks a:focus { color: #FA7921; }
#footerlinks a:hover { color: #FE9920; }
#footerlinks a:active { color: red; }


/* Major clases*/

/* Sign Up Button*/
.button-signup {
    background-color: #5DBC31;
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125em;
    margin: 4px 2px;
    cursor: pointer;
	width:80%;
	max-width:30em;
	font-style:italic;
	}

	
/* 2.5em font */
.huge {
	font-size:2.5em;
	}
	
.yellow {
	color:yellow;
	}

.red {
	color:red;
	}	
 
/*Header Font */	
.silky-header h1 {
	font-family:'capture_itregular'; 
	font-size:2.5em;
	}
	
/*Table Styles*/

/*Pricing Table*/
.pricing-table th, td	{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #8b834d;
	}

.pricing-table th {
	background-color:#173f79;
	}
	
.pricing-table tr:nth-child(odd) {
	background-color:#907117;
	}

/*Ladder Table*/
.ladder-table th, td	{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #8b834d;
	}

.ladder-table th {
	background-color:#173f79;
	}
	
.ladder-table tr:nth-child(odd) {
	background-color:#907117;
	}
		
/* Flexbox Layout*/
.silky {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.silky-header,
.silky-footer {
	flex: none;
}

.silky-body {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding:0 0;
	}

.silky-content {
	margin-top: 0;
	}

.silky-nav {
	order: -1;
}

.silky-ads {
	padding: 1em;
	border-radius: 3px;
	background: rgba(147, 128, 108, 0.1);
}

@media (min-width: 769px) {
  .silky-body {
    flex-direction: row;
  }
  
  .silky-content {
    flex: 1;
    padding: 0;
    margin: 0;
  }
  
  .silky-nav, .silky-ads {
    flex: 0 0 10em;
  }
}
	
/*generic container*/
.container {
	margin: 0 ;
	}
	
/* Announcements spotlight Container*/
.container-announcements {
	background-color:#173f79;
	width: 96%;
	max-width:50em;
	padding: .5em 1em;
	margin-top:1em;
	overflow; hidden;
	
	}
	
/* index CTA Container*/
.container-cta {
	width: 90%;
	background-color:#4A7023;
	padding:1em;
	margin: 2em auto;
	overflow; hidden;
	text-align:center;
	}

/* About us Welcome Container*/
.container-welcome {
	width: 90%;
	background: #173F79; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(left, #173F79, #87690e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #173F79, #87690e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #173F79, #87690e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #173F79 , #87690e); /* Standard syntax (must be last) */
	padding:1em;
	color:#5DBC31;
	font-family:'capture_itregular'; 
	font-size:2.5em;
	text-shadow: 3px 2px black;
	overflow; hidden;
	}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.container-welcome {font-size: 2em;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.container-welcome {font-size: 1.5em;}
}

/* index News Container*/
.container-news {
	width: 90%;
	background-color: #173F79; 
	padding:1em;
	margin: 1em auto;
	overflow; hidden;
	} 

	
/* Gallery Container*/
.container-gallery {
	width: 80%;
	margin: 2em auto;
	overflow; hidden;
	}

/* Details Container*/
.container-details {
	width: 90%;
	margin: 2em auto;
	overflow; hidden;
	}

/* Ladder Container*/
.container-ladder {
	width: 90%;
	margin: 2em auto;
	border-collapse: collapse;
	overflow-x: auto;
	}
	
/*List Styles*/	
.list-inline	{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	}

.list-inline > li   {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	}
	
.list-unstyled{
	padding-left: 0;
	list-style: none;
	}
	
.list-general li {
	padding-top:.5em;
	padding-left:.5em;
	}
	
/*Responsive images*/
.img-responsive {
	max-width:100%;
	}	
	
/* Top Nav*/
.topnav {
  overflow: hidden;
  background-color: #173f79;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-family:'capture_itregular';
  font-size: 1.1em;
  cursor: pointer; 
}

.topnav a:hover {
  background-color: #FE9920;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 550px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
}

@media (min-width: 769px) {
	.topnav a {
	width:80%;
	}
}

.topnav-active {
	background-color:#44355b;
	}
	
/* Sub Nav*/
.subnav {
  overflow: hidden;
  background-color: #333232;
}

.subnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-family:'capture_itregular';
  font-size: 1.1em;
  cursor: pointer; 
}

.subnav a:last-child {
	background-color: #5DBC31;
	font-style: italic;
	}
	
.subnav a:hover {
  background-color: #FE9920;
  color: white;
}

.subnav .icon {
  display: none;
}


@media (min-width: 769px) {
	.subnav a {
	width:80%;
	}
}

/* Breadcrumb*/
ul.breadcrumb {
    padding: .5em 1em;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
	}

ul.breadcrumb li {
    display: inline;
	color:black
	}

ul.breadcrumb li+li:before {
    padding: .5em;
    color: #87690e;
    content: "/\00a0";
	}

ul.breadcrumb li a {
    color: #87690e;
    text-decoration: none;
	}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
	}
	
/* Home Gallery layout*/
.galleryItem {
	color: white;
	font: 1em Verdana, Helvetica, sans-serif;
	float: left;
	width: 24%;
	margin:  2% 2% 2% 2%;	
	background-color:#173f79;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

.galleryItem h3 {
	text-transform: uppercase;
	padding:.5em;
	}

.galleryItem p {
	padding:.4em;
	} 

.galleryItem a {
	text-decoration:none;
	}
	
.galleryItem a:link { color: white; }
.galleryItem a:visited { color: white; }
.galleryItem a:focus { color: white; }
.galleryItem a:hover { color: #FE9920; }
.galleryItem a:active { color: white; }
	
.galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	}
	
/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.galleryItem {width: 31%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.galleryItem {width: 40%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 100%;}
	.galleryItem h3 {font-size: 1.125em;}
	.galleryItem p {font-size: 1.125em;}
}

/* FAQ item layout*/
.faq-item {
	float: left;
	width: 44%;
	margin:  2% 2% 2% 2%;	
	}

.faq-item h3 {
	text-transform: uppercase;
	}

.faq-item hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #ddd;
	}
	
/* MEDIA QUERIES*/

@media only screen and (max-width : 698px),
only screen and (max-device-width : 698px){
	.faq-item {width: 96%;}
	.faq-item img {width: 96%;}
	.faq-item h3 {font-size: 1.125em;}
	.faq-item p {font-size: 1.125em;}
}

/* FAQ Cool Fact layout*/
.faq-item-cool {
	float: left;
	width: 44%;	
	background-color:#173f79;
	padding:.5em .5em;
	}

.faq-item-cool h3 {
	text-transform: uppercase;
	}

.faq-item-cool hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #ddd;
	}
	
/* MEDIA QUERIES*/

@media only screen and (max-width : 698px),
only screen and (max-device-width : 698px){
	.faq-item-cool {width: 96%;}
	.faq-item-cool img {width: 96%;}
	.faq-item-cool h3 {font-size: 1.125em;}
	.faq-item-cool p {font-size: 1.125em;}
}

/* FAQ Links layout*/
.links-item {
	float: left;
	width: 96%;
	margin:  2% 2% 2% 2%;	
	}

.links-item h3 {
	text-transform: uppercase;
	}

.links-item hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #ddd;
	}
	
/*Forms layout*/

.block-forms form {
	display:block;
	margin:.5em;
	padding:0;
	width:96%;
	max-width:50em;
	overflow:visible
	}

.block-forms div, input {
	display:block;
	line-height:1em;
	padding:.5em;
	width:100%;
	font:italic 1.125em Helvetica;
	}
	
.block-forms input, select , textarea {
    width: 100%;
    padding: .75em 1.125em;
    margin: .5em 0;
    display: inline-block;
    border: 1px solid #8b834d;
    border-radius: .25em;
    box-sizing: border-box;
	}
	
.block-forms label {
	font-family:'kaushan_scriptregular';
	font-size:1.3em;
}

.block-forms input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: .75em 1.125em;
    margin: .5em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	}

.block-forms input[type=submit]:hover {
    box-shadow: 0 .75em 1em 0 rgba(0,0,0,0.24), 0 1.1em 3.2em 0 rgba(0,0,0,0.19);
	}

.block-forms input[id=days] {
	display:inline-block;
	}

.block-forms input[type=submit] {
	background-color:#5DBC31;
	}
	
.block-forms input[type=submit]:hover {
    background-color: #FE9920;
	}

.block-forms input:focus {
    background-color: lightgreen;
	}

/* Double-sized Checkboxes */
.block-forms input[type=checkbox] {
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: .5em;
	}